<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Gudtech_RetailOps::inventory" title="RetailOps logger" module="Gudtech_RetailOps"
             parent="Magento_Logging::system_magento_logging"
             resource="Gudtech_RetailOps::inventory" sortOrder="30"/>
        <add id="Gudtech_RetailOps::log_inventory" title="RetailOps Api logger" module="Gudtech_RetailOps"
             parent="Gudtech_RetailOps::inventory" action="gudtech_retailops/log/index"
             resource="Gudtech_RetailOps::inventory" sortOrder="30"/>
        <add id="Gudtech_RetailOps::cancel_queue" title="RetailOps Cancel Queue" module="Gudtech_RetailOps"
             parent="Magento_Reports::report_salesroot" action="gudtech_retailops/queue/cancel"
             resource="Gudtech_RetailOps::inventory" sortOrder="100"/>
    </menu>
</config>